process {
    withName: MAKE_META_FILE  { container = 'continuumio/miniconda3:latest' }
    withName: TRIMGALORE      { container = 'quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0' }
    withName: MAKE_BWA_INDEX  { container = 'quay.io/hdc-workflows/bwa-samtools:latest' }
    withName: BWA_ALIGN       { container = 'quay.io/hdc-workflows/bwa-samtools:latest' }
}
