/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for testing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
        pipeline test.
    Use as follows:
        nextflow run OrthoQuant -profile test,<docker/singularity> \
            --outdir <OUTDIR> [other_options]
--------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    data_dir    = 'https://raw.githubusercontent.com/adamd3/BactSeq/main/test_data/'
    ref_genome  = 'https://raw.githubusercontent.com/adamd3/BactSeq/main/test_data/Mabs.fasta'
    ref_ann     = 'https://raw.githubusercontent.com/adamd3/BactSeq/main/test_data/Mabs.gff3'
    sample_file = 'https://raw.githubusercontent.com/adamd3/BactSeq/main/test_data/sample_sheet_1.tsv'

    process.container      = 'adamd3/bactseq:latest'
    docker {
        enabled            = true
        userEmulation      = true
        runOptions         = '--pull=always'
    }
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    
}