/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for testing (paired-end)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
    paired-end pipeline test.
--------------------------------------------------------------------------------
*/

params {
    config_profile_name        = "Paired-end test profile"
    config_profile_description = "Paired-end test dataset to check pipeline function"

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = "6.GB"
    max_time   = "6.h"

    // Input data
    data_dir    = "https://raw.githubusercontent.com/adamd3/BactSeq/develop/test_data/"
    ref_genome  = "https://raw.githubusercontent.com/adamd3/BactSeq/develop/test_data/Mabs.fasta"
    ref_ann     = "https://raw.githubusercontent.com/adamd3/BactSeq/develop/test_data/Mabs.gff3"
    sample_file = "https://raw.githubusercontent.com/adamd3/BactSeq/develop/test_data/sample_sheet_2.tsv"
    contrast_file = "https://raw.githubusercontent.com/adamd3/BactSeq/develop/test_data/contrast_table.tsv"
    func_file   = "https://raw.githubusercontent.com/adamd3/BactSeq/develop/test_data/functional_annotation.csv"
}
